<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  
  <!-- Font Awesome -->
  <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
  <title><%= job.jobTitle %></title>
  <style>
    .text--md {
      font-size: 19px;
      line-height: 28px;
    }

    .card-body:hover {
      background-color: #d7e6f5;
      transition: 0.3s;
    }
  </style>
</head>

<body class="px-5">
  <%- include('../views/nav.ejs') %>
  <div class='container' style="max-width: 1600px;">
    <div class="row">
      <div class="col-9">
        <div class="mt-3" style="width: auto;">
          <h2 style="font-size: 45px; font-weight: 700; line-height: 64px;"><%= job.jobTitle %></h2>
        </div>

        <div class="d-inline-flex p-2 mt-2 bg-light justify-content-center rounded-pill" style="width: 180px;">
          <div class="d-flex align-items-center">
            <i class="fas fa-map-marker-alt"></i>
            <span class="ml-2 mx-1"><%= job.location %></span>
          </div>
        </div>
        <div class="d-inline-flex p-2 bg-light justify-content-center rounded-pill" style="width: 130px;">
          <%= job.employmentType %>
        </div>

        <div class="mt-4">
          <h3>
            <i class="fas fa-tasks" style="color: blue;"></i>
            What you will do
          </h3>
        </div>
        <div class="text--md px-5">
          <ul>
            <% job.jobDescription.forEach((description) => { %>
            <li><%= description %></li>
            <% }) %>
          </ul>
        </div>

        <div class="mt-4">
          <h3>
            <i class="fas fa-tasks" style="color: blue;"></i>
            What you will need
          </h3>
          <div class="text--md px-5">
            <ul>
              <% job.requirements.forEach((requirement) => { %>
              <li><%= requirement %></li>
              <% }) %>
            </ul>
          </div>
        </div>

        <div class="mt-4">
          <h4>
            <i class="fas fa-hand-holding-usd" style="color: blue;"></i>
            Salary: <%= job.salaryRange%>
          </h4>
        </div>

        <div class="mt-4">
          <h4>
            <i class="fas fa-calendar-alt" style="color: blue;"></i>
            <span class="ml-2"><%= new Date(job.postedDate).toLocaleDateString('en-GB') %> - <i class="fas fa-calendar-alt" style="color: blue;"></i> <%= new Date(job.closingDate).toLocaleDateString('en-GB') %></span>
          </h4>
        </div>

        <div class="col-12 d-flex align-items-center mt-4">
          <% if (user) { %>
            <a href="/cv/list/<%= job._id %>" class="btn btn-primary btn-lg rounded-pill mx-4">View list apply job</a>
            <a href="/job/getformupdate/<%= job._id %>" class="btn btn-primary btn-lg rounded-pill mx-4">Update Job</a>
            <button type="button" class="btn btn-danger btn-lg rounded-pill mx-4" id="deleteJobButton">Delete Job</button>
          <% } else { %>
            <a href="/cv/getFormApply/<%= job._id %>" class="btn btn-primary btn-lg rounded-pill mx-4">Apply for this position</a>
          <% } %>
        </div>
      </div>
      <div class="col-3 ">
        <h2 style="font-size: 28px; font-weight: 700; line-height: 54px;">Related Jobs</h2>

        <div id="job-related"></div>
      </div>
    </div>
  </div>
  </div>
  <div class="foot">
    <%- include('../views/footer.ejs') %>
  </div>

  <script>
    const params = new URLSearchParams(window.location.search);
    const jobId = params.get('id');

    fetch(`/job/getjobrelated?id=${jobId}`)
      .then(response => response.json())
      .then(data => {
          const jobRelatedDiv = document.getElementById('job-related');
          if (data.length > 0) {
            data.forEach(job => {
                  if (job._id !== jobId && jobRelatedDiv.childElementCount < 5) {
                    const jobElement = document.createElement('div');
                    document.getElementById('job-related').innerHTML += `
                        <div class="card bg-light border-light mb-4" style="max-height: 180px; width: auto; " onclick="window.location.href='/job/getjob?id=${job._id}';">
                            <div class="card-body">
                                <p>
                                    <span> ${job.location}</span>
                                    <span class="mx-4">${job.employmentType}</span>
                                </p>
                                <%if(job.jobTitle.length <= 50) {%>
                                <h4 class="card-title">${job.jobTitle}</h4>
                                <%} else {%>
                                <h4 class="card-title">${job.jobTitle.substring(0, 50)}...</h4>
                                <%}%>
                            </div>
                        </div>
                    `
                  }
            });
          } else {
            jobRelatedDiv.textContent = 'No related jobs found.';
          }
        })
        .catch(error => {
          console.error('Error fetching related jobs:', error);
        });
  </script>
  <script>
    document.getElementById('deleteJobButton').addEventListener('click', function() {
      const jobId = '<%= job._id %>';
  
      if (confirm('Are you sure you want to delete this job?')) {
        fetch(`/job/deletejob/${jobId}`, {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(response => {
          if (response.ok) {
            alert('Job deleted successfully.');
            window.location.href = '/job/getjob';
          } else {
            alert('Failed to delete the job.');
          }
        })
        .catch(error => {
          console.error('Error:', error);
          alert('An error occurred while deleting the job.');
        });
      }
    });
  </script>
</body>

</html>